/*                   */
/* custom properties */
/*                   */
:root {
    --clr-primary-900: hsl(12 76% 61%);
    --clr-primary-700: hsl(197 37% 24%);
    --clr-primary-500: hsl(173 58% 39%);

    --clr-accent-800: hsl(27 87% 67%);
    --clr-accent-600: hsl(43 74% 66%);
    --clr-accent-400: hsl(197 51% 69%);

    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-500: hsl(0, 8%, 31%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: 'Raleway', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-100: 0.0001rem;
    --fs-200: 0.5rem;
    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1.2rem;
    --fs-700: 2rem;
    --fs-800: 2.3rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);
}

.dark-mode {
    --clr-primary-900: hsl(0 0% 0%);
    --clr-primary-700: hsl(0 0% 14%);
    --clr-primary-500: hsl(0 0% 20%);

    --clr-accent-800: hsl(0 0% 27%);
    --clr-accent-400: hsl(0 0% 41);
}


/*       */
/* reset */
/*       */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
a,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* remove text decor for a */
a {
    text-decoration: none;
}

/* remove list style for li */
li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*                 */
/* Utility classes */
/*                 */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
    place-items: center;
}

.grid-container {
    display: grid;
    column-gap: 2rem;
    place-items: center;
}

.grid-container>* {
    max-width: 50ch;
}

@media (max-width: 45em) {
    .grid-container {
        row-gap: 2.5rem;
        padding-inline: 3rem;
    }
}

@media (min-width: 45.000001em) {
    .grid-container {
        grid-template-columns: minmax(2.5rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2.5rem, 1fr);
        text-align: left;
    }
}

.d-block {
    display: block;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.sr-only {
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.section-title {
    padding-bottom: 2.5rem;
}

.profile-pic {
    border-radius: 50%;
    width: 100%;
}

.body-section {
    padding: 6rem 0;
}

/* colors */
.text-primary-900 {
    color: var(--clr-primary-900);
}

.text-primary-700 {
    color: var(--clr-primary-700);
}

.text-primary-500 {
    color: var(--clr-primary-500);
}

.text-accent-800 {
    color: var(--clr-accent-800);
}

.text-accent-600 {
    color: var(--clr-accent-600);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.text-neutral-900 {
    color: var(--clr-neutral-900);
}

.text-neutral-500 {
    color: var(--clr-neutral-500);
}

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.bg-primary-900 {
    background-color: var(--clr-primary-900);
}

.bg-primary-700 {
    background-color: var(--clr-primary-700);
}

.bg-primary-500 {
    background-color: var(--clr-primary-500);
}

.bg-accent-800 {
    background-color: var(--clr-accent-800);
}

.bg-accent-600 {
    background-color: var(--clr-accent-600);
}

.bg-accent-400 {
    background-color: var(--clr-accent-400);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

/* typography */
.ff-primary {
    font-family: var(--ff-primary);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}


.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-100 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-300);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}

/* navigation */
.primary-navbar {
    z-index: 1000;
}

.nav-buttons a:hover {
    color: var(--clr-accent-400);
}

.mobile-nav-toggle {
    display: none;
}

.dark-mode-toggle {
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.dark-mode-toggle:hover {
    cursor: pointer;
}

.sun-icon {
    display: none;
    fill: white;
}

.moon-icon {
    fill: white;
}

.sun-icon-darkmode {
    display: block;
}

.moon-icon-darkmode {
    display: none;
}

@media (max-width: 45em) {
    .primary-navbar {
        position: fixed;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        width: 100vw;
    }

    .logo {
        padding: 1rem 2rem .2rem 2rem;
    }

    .primary-navigation {
        position: fixed;
        flex-direction: column;
        width: 100%;
        padding: 1rem 2rem 2rem 2rem;
        transform: translateY(-200%);
        transition: transform 250ms ease-in;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateY(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-image: url("./assets/icons/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        top: 1.75rem;
        right: 1.75rem;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("./assets/icons/icon-close.svg");
    }

    .mobile-nav-toggle:hover {
        cursor: pointer;
    }

    .dark-mode-toggle {
        position: absolute;
        top: 30%;
        right: 15%;
        z-index: 9999;
    }
}

@media (min-width: 45.000001em) {
    .primary-navbar {
        position: fixed;
        justify-content: space-between;
        align-items: center;
        padding-inline: clamp(1rem, 8vw, 20rem);
        height: 3.5rem;
        width: 100vw;
    }

    .nav-buttons {
        padding-left: 1.5rem;
    }

    .nav-top-right {
        justify-content: center;
        align-items: center;
    }

    .dark-mode-toggle {
        margin-left: 1.5rem;
    }
}

/* introduction section 1 */
.intro-section {
    height: 100vh;
    place-items: center;
}

.intro-paragraph .contact-info {
    margin-top: 1rem;
}

.contact-info a:hover {
    color: var(--clr-primary-700);
}

@media (min-width: 45.000001em) {
    .intro-paragraph {
        grid-column: 2;
    }

    .intro-pic {
        grid-column: 3;
    }
}

/* about-me section 2 */
@media (min-width: 45.000001em) {
    .about-pic {
        grid-column: 2;
    }
}

/* my journey section 3 */
.timeline {
    position: relative;
}

@media (max-width: 45em) {
    .journey-container::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 2px;
        height: 100%;
        width: 4px;
        left: 7%;
        background-color: white;
    }
}

@media (min-width: 45.000001em) {
    .journey-section .grid-container {
        grid-template-rows: auto auto auto;
    }

    .journey-container::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 2px;
        height: 100%;
        width: 4px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
    }

    .journey-bootcamp {
        grid-column: 2;
        grid-row: 1;
    }

    .journey-marketing {
        grid-column: 3;
        grid-row: 2;
    }

    .journey-finance {
        grid-column: 2;
        grid-row: 3;
    }
}

.journey-block {
    padding: 1rem;
    border-radius: 13px;
    width: 90%;
}

/* footer */
.footer {
    padding: 4rem;
}

.footer .contact-info a {
    margin-inline: .5rem;
}

/* animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 700ms ease-out, filter 850ms ease-in;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}